body {
background: #f6f8f9; /* Old browsers */
background: -moz-linear-gradient (top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /*
FF3.6—15 */
background: -webkit-linear-gradient (top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /*
Chrome10—25,Safari5.1—6 */
background: linear-gradient (to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /*
W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter:  progid:DXImageTransform.Microsoft.gradient  (startColorstr=«#f6f8f9»,
endColorstr=«#f5f7f9», GradientType=0); /* IE6—9 */
}

.icon-bar {
background-color: darkblue;
}
.glyphicon-md { font-size: 18px;
color: darkblue;
}
.panel {
padding-top:20px;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient (top, #ffffff 0%, #f3f3f3 93%, #ededed 98%, #ededed 98%, #ffffff
100%); /* FF3.6—15 */
background: -webkit-linear-gradient (top, #ffffff 0%,#f3f3f3 93%,#ededed 98%,#ededed 98%,#ffffff
100%); /* Chrome10—25,Safari5.1—6 */
background: linear-gradient (to bottom, #ffffff 0%,#f3f3f3 93%,#ededed 98%,#ededed 98%,#ffffff
100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter:  progid:DXImageTransform.Microsoft.gradient  (startColorstr=«#ffffff’,
endColorstr=«#ffffff’,GradientType=0); /* IE6—9 */
}
Изменим цвет ссылок и цвет разделителя.
a {
color: darkblue;
}
.divider {
background-color: darkblue;
height:2px;
}