<!DOCTYPE html>
{% load static %}
<html lang="en">
 <head>
      <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
     <script src="js/bootstrap.bundle.min.js"></script>
    <meta name=«viewport» content=«width=device-width, initial-scale=1»>
      <link rel="stylesheet" href="{% static 'css/robo.css' %}" >
 <title>Django Girls blog</title>
 </head>
   <body>
   <header>
 <div class="container">
 <div class="row">
     <div class="col-12">

         <div class="itd_play">
             <a href="#footer" class="btn btn-itd btn-lg text-uppercase">Заказать</a>

          <div class="itd_triargle">
              <h1><a href="#footer">Django Girls Blog</a></h1>
               </div>
      </div>

     </div></div></div></header>
    <div class="page-header">

    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
   <footer id="footer"></footer>
</body>